@import "../App.css";
.card{
    background: var(--color-secundary) !important;
}
.text{
    color: var(--text-secundary) !important;
}
.container{
  animation: fadeInBottomToTop 1s ease-in-out;
  animation-name: fadeInBottomToTop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; /* mantém o estado final */
}
@keyframes fadeInBottomToTop {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}